/* Кастомные стили */

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #04859D; /*Основной цвет*/
  --md-accent-fg-color: #37B6CE; /*Акцентный цвет*/
  --md-typeset-a-color: #015666; /*Цвет ссылок*/
  --md-default-bg-color: #f0f8ff; /*Фоновый цвет*/
  --md-footer-bg-color: #04859D; /* Цвет футтера */
  --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
  --md-code-bg-color: #ffffff; /*Цвет фона блока кода*/
  --md-code-fg-color: #5c5b5b; /*Цвет текста в блоке кода*/
  --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
}

/* Увеличение ширины контента */
.md-grid {
  max-width: 1440px;
}

/* Кастомные блоки */
.custom-info {
  border-left: 4px solid #2196f3;
  background-color: #e3f2fd;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem 0;
}

/* Подсветка кода */
.highlight .hll {
  background-color: #ffc;
}

/* Адаптивные таблицы */
.md-typeset table:not([class]) {
  display: table;
}

/*Параметры текста статей*/
.md-typeset {
    font-family: 'Tahoma', 'arial';
    font-weight: 200;
    font-size: 16px;
    color: #4b5563;
}
/*Параметры текста nav и toc*/
.md-nav {
    font-family: 'Tahoma', 'arial';
    font-weight: 400;
    font-size: 16px;
    color: #4b5563;
}