site_name: База знаний
site_description: Инструмент, предназначенный для сбора, организации и распространения информации
site_author: Васильняк Никита
repo_url: https://github.com/NikitaVasil/report_docs-as-code
repo_name: NikitaVasil/knowledge_base

# Copyright в футере
copyright: Copyright &copy; 2026 <br> <a href="https://t.me/nikita_vasilnyak"> <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="#d7f0f9" d="M256 8a248 248 0 1 0 0 496 248 248 0 1 0 0-496zM371 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5c-2.2 .5-37.1 23.5-104.6 69.1-9.9 6.8-18.9 10.1-26.9 9.9-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3 .6-4.5 6.7-9 18.4-13.7 72.3-31.5 120.5-52.3 144.6-62.3 68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9 2 1.7 3.2 4.1 3.5 6.7 .5 3.2 .6 6.5 .4 9.8z"/></svg> Nikita Vasilnyak</a>

nav:
  - Главная: index.md
  - Нормативная правовая база:
      - Оценка соответствия: regulatory/conformAssess/conform.md
      - Проекты ФЗ и ПП РФ: regulatory/draftFL/draftFL.md
      - Предложения в ГОСТ Р: regulatory/offersInGost/offInGost.md
      - Экспериментально-правовой режим: ff.md
  - Библиотека стандартов:
      - ЕСКД: eskd/gostSerial2.md
      - ЕСПД: espd/gostSerial19.md
  - Техническая часть: changelog.md

theme:
  name: material
  language: ru
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - admonition
  - codehilite
  - abbr
  - attr_list
  - md_in_html
  - footnotes
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.details

extra:
  generator: false # Убирает "Made with MkDocs"

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js

plugins:
  - search
  - mkdocstrings
  - mkdocs-pdf
